<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Capodanno Casa Luzio</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Soldi Capodanno</h1>
    <div><b>Antipasto</b> Budget: {{budget["Antipasto"]}}</div>
    <button class="Update" id="AntipastoButton" type="button" onclick="handleAntipasto()">Aggiorna</button>
    <div><b>Primo</b> Budget: {{budget["Primo"]}}</div>
    <button class="Update" id="PrimoButton" type="button" onclick="handlePrimo()">Aggiorna</button>
    <div><b>Secondo</b> Budget: {{budget["Secondo"]}}</div>
    <button class="Update" id="SecondoButton" type="button" onclick="handleSecondo()">Aggiorna</button>
    <div><b>Dolce</b> Budget: {{budget["Dolce"]}}</div>
    <button class="Update" id="DolceButton" type="button" onclick="handleDolce()">Aggiorna</button>
    <script src="{{ url_for( 'static', filename='handling.js' ) }}"></script>
</body>

</html>
