<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Capodanno Casa Luzio</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Soldi Capodanno</h1>
    <h2>Totale: {{budget["Totale"]}}</h2>
    <div id="AntipastoDiv"><b>Antipasto</b> Budget: {{budget["AntipastoUsed"]}}/{{budget["Antipasto"]}}</div>
    <button class="Update" id="AntipastoButton" type="button" onclick="handleAntipasto()">Aggiorna</button>
    <div id="PrimoDiv"><b>Primo</b> Budget: {{budget["PrimoUsed"]}}/{{budget["Primo"]}}</div>
    <button class="Update" id="PrimoButton" type="button" onclick="handlePrimo()">Aggiorna</button>
    <div id="SecondoDiv"><b>Secondo</b> Budget: {{budget["SecondoUsed"]}}/{{budget["Secondo"]}}</div>
    <button class="Update" id="SecondoButton" type="button" onclick="handleSecondo()">Aggiorna</button>
    <div id="DolceDiv"><b>Dolce</b> Budget: {{budget["DolceUsed"]}}/{{budget["Dolce"]}}</div>
    <button class="Update" id="DolceButton" type="button" onclick="handleDolce()">Aggiorna</button>
    <script src="{{ url_for( 'static', filename='handling.js' ) }}"></script>
</body>

</html>
