<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Pair</title>
    <link href="static/random.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="title">Random Pair Generator</h1>
    <div id="subLine">
        <div id="header">
            <button id="subscribeB" type="button">Subscribe</button>
            <input id="nameInput" type="text" placeholder="Nome">
            <button id="shuffleB" type="button">Mischia</button>
        </div>

    </div>
    <div id="bigContainer">
        <div id="nameContainer">
        </div>
        <div id="pairContainer">
        </div>
    </div>
    <script type="module" src="../static/random.js"></script>
</body>

</html>
